.stock-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.stock-info-container a{
    color:var(--link-color);
    border-bottom: 1px solid;
}


.stock-info-container a:visited {
    color: var(--link-visited);
}

.stock-info-container a:hover {
    color: var(--link-hover);
  
}