.stock-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.stock-info-container a{
    color:#0000EE;
    border-bottom: 1px solid;
}


.stock-info-container a:visited {
    color: #551A8B;
}

.stock-info-container a:hover {
    color: #FF4500;
  
}