.container-metrics-table {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    margin: 25px 0px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.container-metrics-table table{
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    overflow: hidden;
}

.container-metrics-table>div:first-child{
    display: flex;
    justify-content: space-between;
    padding: 15px 18px 15px 18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.select-container-table {
    display: flex;
    align-items: center;
    gap: 8px
}

.container-metrics-table select {
    border-radius: 5px;
    width: 60px;
    padding:5px 8px ;
    font-size: 14px;
    border: 0.5px solid var(--primary-color);
}

.container-metrics-table input {
    width: 180px;
    
}

.container-metrics-table input:hover, .container-metrics-table input:focus, .container-metrics-table select:hover{
    border-color: #1183d6;
    box-shadow: 0 0 3px 0 #1183d6;
    outline: none;
}


.container-metrics-table thead tr{
    background-color: rgba(107, 114, 128, 0.16);
    color: var(--secondary-color)1;
 
}

.container-metrics-table th {
   font-weight: 600;
}

.container-metrics-table tbody tr img {
    width: 18px;
}

.container-metrics-table td {
    padding: 18px 15px;
    max-width: 100px;
}

.container-metrics-table th{
    padding: 10px 15px;
    max-width: 100px;
}

#company, #return_percentage, #current_price, #total_invested{
    min-width: 130px;
}


#ticker, #shares{
    max-width: 80px;
}


.container-metrics-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.container-metrics-table tbody tr:nth-of-type(even) {
    background-color: rgba(107, 114, 128, 0.16);
}

.container-metrics-table tbody tr:hover {
    background-color: black;
    color: white;
}

.container-metrics-table tbody tr:hover .image-filter {
    filter: none
}

th.default
{
    cursor: pointer;
}

th div {
    display: flex;
    align-items: center;
    gap: 10px
}

.image-filter{
    filter: grayscale(100%) brightness(0%);
    transition: filter 0.2s ease;
}

/* Tablets and under */
@media screen and (max-width: 960px) {
    .metric-table-responsive, #company, #transaction_index, #transaction_company_logo, #logo ,#index{
        display:none
    }      
}

.no-result{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: var(--error-color)
}