.content-metrics-table{
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    font-size:  0.9rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.content-metrics-table thead tr{
    background-color: rgba(107, 114, 128, 0.3);
    color: var(--secondary-color)1;
    text-align: left;
}

.content-metrics-table th,
.content-metrics-table th {
   font-weight: 600;
}


.content-metrics-table th,
.content-metrics-table td{
    padding: 18px 15px;
    font-size: 1rem;
}

.content-metrics-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-metrics-table tbody tr:nth-of-type(even) {
    background-color: rgba(107, 114, 128, 0.16);
}

.content-metrics-table tbody tr:hover {
    background-color: black;
    color: white;
}

.content-metrics-table tbody tr:hover img {
    width: 18px;
    filter: none;
    transform: none;
}