.content-metrics-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:  0.9rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: black;
}

.content-metrics-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-metrics-table th,
.content-metrics-table td{
    padding: 12px 15px;
    color: white
}
