.icons-column{
    display:flex;
    gap: 15px
}

.transaction-type {
    color: white;
    width: fit-content;
    padding: 1px 6px;
    border-radius: 5px;
}

.transaction-type-buy {
    background-color: var(--success-color);
}

.table-header {
    background-color: var(--card-color);
}

.transaction-type-sell {
    background-color: var(--error-color);
}

.edit-icons {
    cursor:pointer
}

.delete-icon:hover{
    color: var(--error-color);
    font-weight: 800;
}

.edit-icon:hover{
    color: var(--primary-color)
}

.delete-item-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:5px
}

.delete-items {
    display:flex;
    gap:10px
}

.container-metrics-table tfoot{
  background-color: var(--card-color)
}