.navbar {
    height: 80px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.navbar li a:hover {
    border-bottom: 1px var(--secondary-color) solid;
}

.navbar a:hover {
    color: var(--secondary-color)
}

.navbar a {
    padding: 5px;
    margin: 0 5px;
}

.navbar form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Tablets and under */
@media screen and (max-width: 960px) {
    .navbar p {
        display: none
    }
    .nav_icon{
        animation: rotation 2s linear ;
    }
}

/* Animation */
.nav_icon:hover {
    animation: rotation 2s linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}