@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary-color: #6B7280;
  --secondary-color: #595F6C;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #A3B18A;
  --error-color: #C8443C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}


a {
  text-decoration: none;
  color: var(--primary-color)#6B7280
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  color:var(--primary-color)#6B7280
}


