.icon-card-container {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.metric-container:hover{
    background-color: black;
    color:white
}

.digit-animation {
    animation: roll 0.5s ease forwards ;
}


@keyframes roll {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
