.pagination-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.pagination-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01px solid rgba(0, 0, 0, 0.4);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.pagination-button li:hover, .pagination-button a:hover{
    background-color: var(--text-color);
    border-radius: 5px;
    color: var(--card-color2)
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    
}



